body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.first {
    border: 5px dashed orange;
    background-color: rgb(247, 247, 167);
    width: 600px;
    margin: 20px 600px;
    padding: 20px;
}

.second {
    border: 5px solid black;
    background-color: rgb(194, 236, 246);
    width: 380px;
    margin: 30px 100px;
    border-color: black transparent;
    padding: 20px;
}
 
.third {
    border: 7px solid rgb(251, 141, 203);
    background-color:rgb(145, 79, 26) ;
    box-shadow: 5px 5px 10px #b58c73;
    width: 500px;
    margin: 20px 750px;
    padding: 20px;
    box-shadow:  10px ;
}


